翻译.txt
.vscode/c_cpp_properties.json
.vscode/settings.json
NEU_Coreboard.uvguix.Aero
DebugConfig/NEU_Coreboard_STM32F407VGTx.dbgconf
Listings/startup_stm32f4xx.lst
Listings/NEU_Coreboard.map
Objects/ExtDll.iex
Objects/NEU_Coreboard.sct
Objects/NEU_Coreboard.htm
Objects/NEU_Coreboard.lnp
Objects/NEU_Coreboard.build_log.htm
Objects/NEU_Coreboard_NEU_Coreboard.dep
Objects/*.o
Objects/*.crf
Objects/*.d
JLinkLog.txt
JLinkSettings.ini
USR/inc/bsp_spi_flash.h
USR/src/bsp_spi_flash.c
